<div>

    <!-- Data Binding:  -->
    <app-search></app-search>

    <!-- Lifecycle Hooks: -->
    <app-clock></app-clock>

    <!-- @Input: -->
    <app-slogan slogan="Exotic Products!"></app-slogan>

    <!-- ng-content: -->
    <app-tip>
        <span>Order a day <strong>advance!</strong></span>
    </app-tip>

    <!-- @Output: -->
    <app-survey title="How is our quality?" (report)="display($event)"></app-survey>

    <!-- Service: -->
    <app-address></app-address>

    <!-- Pipe: -->
    <app-gift-card></app-gift-card>

    <!-- Directives: -->
    <app-coupon></app-coupon>

    <!-- Template Reference Variable: -->
    <app-location></app-location>

</div>